@use "../../sass/_index" as *

#s-hero
    background-image: url("../../assets/images/mobile/image-hero.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    display: flex
    padding-top: 227px
    padding-bottom: 227px
    @include breakpoint(desktop)
        justify-content: flex-start
        padding-bottom: 146px
        background-image: url("../../assets/images/desktop/image-hero.jpg")
.hero-text
    border: 2px solid hsl(0, 0%, 100%)
    padding: 1.5rem
    max-width: 450px
    max-height: 278px
    @include breakpoint(desktop)
        padding: 2.5rem
        max-width: 650px
    h1
        text-transform: uppercase
        font-family: "Josefin Sans", sans-serif
        font-weight: 300
        font-size: clamp(2.5rem, 1.7958rem + 3.0047vw, 4.5rem)
        line-height: clamp(2.375rem, 1.6708rem + 3.0047vw, 4.375rem)
        color: $primary
